<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %} {{ page.title }} | {% endif %} lpw25 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.feeds %}
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
<link rel="alternate" type="application/atom+xml" title="ATOM Feed" href="/atom.xml" />
{% endif %}
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/css/friendly-syntax.css" rel="stylesheet">
<link href="/css/openwebicons-bootstrap.css" rel="stylesheet">
<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39034751-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">

    <div class="container">
      <a class="brand" href="/">lpw25</a>
      <ul class="nav">
        {% if page.nav_active == 'home' %}
          <li class="active"><a href="/index.html">Home</a></li>
          <li><a href="{{ site.posts.first.url }}">Blog</a></li>
          <li><a href="/papers.html">Papers</a></li>
          <li><a href="/talks.html">Talks</a></li>
        {% elsif page.nav_active == 'blog' %}
          <li><a href="/index.html">Home</a></li>
          <li class="active"><a href="{{ site.posts.first.url }}">Blog</a></li>
          <li><a href="/papers.html">Papers</a></li>
          <li><a href="/talks.html">Talks</a></li>
        {% elsif page.nav_active == 'papers' %}
          <li><a href="/index.html">Home</a></li>
          <li><a href="{{ site.posts.first.url }}">Blog</a></li>
          <li class="active"><a href="/papers.html">Papers</a></li>
          <li><a href="/talks.html">Talks</a></li>
        {% elsif page.nav_active == 'talks' %}
          <li><a href="/index.html">Home</a></li>
          <li><a href="{{ site.posts.first.url }}">Blog</a></li>
          <li><a href="/papers.html">Papers</a></li>
          <li class="active"><a href="/talks.html">Talks</a></li>
        {% else %}
          <li><a href="/index.html">Home</a></li>
          <li><a href="{{ site.posts.first.url }}">Blog</a></li>
          <li><a href="/papers.html">Papers</a></li>
          <li><a href="/talks.html">Talks</a></li>
        {% endif %}
      </ul>
    </div>
    
  </div>
</div>
<div class="container">
{{ content }}
</div>
</body>
</html>
