<!DOCTYPE html>
<html>
<head>
<title>{% if page.title %} {{ page.title }} | {% endif %} lpw25 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
</style>
</head>
<body>
<div id="page">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">

    <div class="container">
      <a class="brand" href="/">lpw25</a>
      <ul class="nav">
        {% if page.nav_active == 'home' %}
          <li class="active"><a href="/index.html">Home</a></li>
          <li><a href="{{ site.posts.first.url }}">Blog</a></li>
        {% elsif page.nav_active == 'blog' %}
          <li><a href="/index.html">Home</a></li>
          <li class="active"><a href="{{ site.posts.first.url }}">Blog</a></li>
        {% else %}
          <li><a href="/index.html">Home</a></li>
          <li><a href="{{ site.posts.first.url }}">Blog</a></li>
        {% endif %}
      </ul>
    </div>
    
  </div>
</div>
<div id="header">
<div class="container">
{{ content }}
</div>
</body>
</html>
