---
layout: page
nav_active: blog
feeds: true
---
<div class="row">
  <div class="span1 offset1">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" class="btn btn-mini">&larr;</a>
    {% endif %}
  </div>
  <div class="span6">
    <h2>{{ page.title }}</h2>
    <p><em>{{ page.date | date_to_long_string }}</em></p>
    {{ content }}
  </div>
  <div class="span1">
    {% if page.next %}
      <a href="{{ page.next.url }}" class="btn btn-mini">&rarr;</a>
    {% endif %}
  </div>
  <div class="span3">
    <a class="btn btn-warning btn-mini" href="/rss.xml"><i class="icon-feed"></i> RSS</a>
    <a class="btn btn-warning btn-mini" href="/atom.xml"><i class="icon-feed"></i> Atom</a>
    <h4> Archive </h4><img style="display: inline">
    <ul class="unstyled">
      {% for post in site.posts %}
        {% if forloop.first %}			
          <!-- year -->
          <li><strong>{{ post.date | date: '%Y' }}</strong>
            <ul class="unstyled">
              <!-- month -->
              <li>{{ post.date | date: '%B' }}
                <ul style="list-style: none">
        {% else 
          %}{% capture year %}{{ post.date | date: '%Y' }}{% endcapture 
          %}{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture 
          %}{% capture month %}{{ post.date | date: '%B' }}{% endcapture 
          %}{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture 
          %}{% if year != nyear %}
                </ul>
              </li>
            </ul>
          </li>
          <li><strong>{{ post.date | date: '%Y' }}</strong>
            <ul class="unstyled">
              <li>{{ post.date | date: '%B' }}
                <ul style="list-style: none">
          {% elsif month != nmonth %}
                </ul>
              </li>
              <li>{{ post.date | date: '%B' }}
                <ul style="list-style: none">
          {% endif %}
        {% endif %}
        <li><a href="/{{ post.url }}">{{ post.title }}</a></li>
        {% if forloop.last %}
                </ul>
              </li>
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="span10 offset1">
    <hr>
  </div>
</div>
<div class="row">
  <div class="span8 offset2">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'lpw25'; // required: replace example with your forum shortname
  
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>
